/* **********     Reset CSS     ********** */
:root {
  --main-font: sans-serif;
  --font-size: 16px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #124f86;
  text-decoration: none; /* quitar subrayado */
}

h1 {
  text-align: center;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.error {
  padding: 1rem;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #dc3545;
}

.error mark {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: #fff;
  background-color: #01579b;
}

.search-form {
  display: auto;
  text-align: center;
}

.search-form input {
  display: block;
  margin: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.grid-fluid {
  margin: 1rem auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.header {
  padding: 0.5rem;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #fff;
}

/* Selecciona todos los hijos directos del <header> 
   y les aplica margen vertical y centrado horizontal */
header > * {
  margin: 1rem auto;
}

.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
}

.post-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  background-color: #e4f0f791;
  border-radius: 10px;
}

.post-card p {
  display: flex;
  justify-content: space-between;
}

.post-page {
  margin: 1rem auto;
  padding: 1rem;
  width: 95%;
  background-color: #e4f0f791;
  border-radius: 10px;
}

.post-page > aside {
  margin: auto;
  width: 60%;
  text-align: center;
}

.post-page > hr {
  border: thin solid #cfd8dc;
  margin: 2rem auto;
  width: 80%;
}

.post-page time {
  margin: 1rem auto;
  display: block;
}

.post-page > article {
  padding: 0 2rem;
}

.post-page img,
.post-page audio,
.post-page iframe,
.post-page video {
  margin: auto;
  display: block;
  max-width: 100%;
}
